* {
    font-family: "Tinos", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: inherit;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: #c9c9c9;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
}

.primary-btn {
    background-color: #D67E35;
    padding: 14px 19px;
    color: #FFFFFF; 
    min-width: 157px;
    max-height: 49px;

    border-radius: 2px; 
    
}



.primary-header {
    color: #D67E35;

}



/* nav */


.navigation {
    padding: 50px;
    background-image: url("/1/img/bg/navbg.png");
    background-size:  100% 100%;
    height: 100vh;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.nav-menu-items {
    display: inherit;
    gap: 40px;
    padding: 15px 60px 15px 15px;

    border-right: 1px solid #FFFFFF;

}

.nav-header {
    font-size: 50px;
    max-width: 430px;
}


.nav-order {

    display: flex;

    /* justify-content: space-between; */
    /* display: inherit; */
    /* gap: 20px; */ */
}

.phone-holder {
    display: inherit;
    gap: 15px;
}

.nav-menu-link {
    font-size: 14px;
    font-weight: 700;

    color: #FFFFFF;
}

.number {
    font-weight: 700;
    font-size: 18px;
}



.nav-content {
    position: absolute;
    top: 322px;
}